

/*configurações gerais do site*/

@charset "utf8";
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');/*link para uso de fonte externa*/

*{
    margin: 0px;
    padding: 0px;   
}
html{
    scroll-behavior: smooth;/*suaviza a transição entre os links internos*/
}
:root{
    --cor1:#030303e4;
    --cor2:#09090990;
    --cor3:#ffffffb2;
    --cor4:rgba(255, 0, 0, 0.699);
    --cor5:rgba(0, 128, 0, 0.867);
    --cor6:rgb(2, 2, 2);
    --font-destaque:"Protest Revolution",Arial,sans-serif;
    --font-padrao:Arial, Helvetica, sans-serif;
}
/*configurações do corpo do site*/
body {
    font-family: var(--font-padrao);
    max-width: 1024px;
    min-height: 600px;
    background-color: var(--cor6);
    margin: auto;
}
a{
    transition-duration: .3s;
}

/**/

header {
    background-color: var(--cor1);
    color: var(--cor3);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
    margin: auto;   
}
#burguer{
    display:none;
}
header h1{
    font-family: var(--font-destaque);
    color: var(--cor5);
    font-weight: bolder;
    font-size: 6rem;
    text-shadow: 2px 2px 2px; 
    align-items: center;
}
 #v{
    color: var(--cor5);
    font-size: 5rem;
}
strong {
    color: var(--cor4);
}
header h1:hover{
    text-shadow: 5px 5px 10px;
}
nav {
    color:var(--cor3);
    text-align: center;
    padding: 10px;  
}
nav a {
    color: var(--cor3);
    margin: 0 30px;
    text-decoration: none;
    cursor: pointer; 
}
nav a:hover{  
    box-shadow: 1px 2px var(--cor5);
}

/**/

main{
    margin: 20px;   
}
section {
    max-width: 940px;
    min-width: 600;
    display: block;
    margin: 20px auto;
    padding: 10px;
    background-color:rgba(36, 35, 35, 0.512);
    border-radius: 20px;
    box-shadow: 2px 2px 5px var(--cor3);  
    color: antiquewhite;    
}
#titular{
    line-height: 6rem;
    text-align: center;
    font-size: 1.5rem
}
section h2{
    text-shadow: 1px 1px 2px var(--cor3);
    font-weight: bold;
    letter-spacing: .2rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: -10px;
    margin-bottom: 20px;
    line-height: 6rem;
    padding-left: 20px;
    background-image: linear-gradient(to right, var(--cor2), transparent);
}
section h3{
    line-height: 6rem;
    text-align: center;
    font-size: 1.5rem;   
}
section p{
    text-indent: 30px;
    font-weight: 500;
    letter-spacing: .1rem;
    text-align: justify;
    padding: 10px;
    padding-right: 30px;  
}
#bloco1{
    columns: 2;
    display: flex;
    align-items: center; 
}
#bloco1 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
    box-shadow: 2px 2px 2px var(--cor1);  
}
#bloco2{
    columns: 2;
    display: flex;
    align-items: center;  
}
#bloco2 img{
    width: 200px;
    margin: auto;
    border-radius: 20px;
    display: flex;
    text-align: center; 
    padding: 20px;
}
#skils{
    display: block;
    letter-spacing: 20px;
    font-size: 7rem;
    text-align: center;
    margin: auto;         
}
#l_skils{
    list-style-position: inside;
    columns: 2;
    list-style-type: "\2713\00A0\00A0";
    padding-left: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.projetos img{
    width: 200px;
    display: flex;
    margin: auto;
    padding: 5px;
    border-radius: 50%  
}
.projetos  img:hover{
    box-shadow: 1px 2px 5px var(--cor5);
    transition-duration: .2s;
}
.projetos p{
    padding-top: 10px;
}

/*configuração do formulario*/

form {
    background-color:var(--cor2);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 8px;
}
input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #4caf50;
    color: #f7f4f4ff;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #319536;
}
#topo{
    background-color: rgba(255, 0, 0, 0.44);
    position: fixed;
    right: 5%;
    bottom: 10%;
    font-size: 1.5rem;
    color: var(--cor3);
}
#topo:hover {
    background-color: rgba(255, 0, 0, 0.944);
}
/**/

footer {
    background-color:var(--cor1);
    text-align: center;
    height: 80px;
    width: 100%; 
}
.social  {
    color:antiquewhite;
    text-decoration: none;
    display: inline;
    margin: auto;
}
footer a{
    margin-right: auto;
    font-style: italic;
    font-weight: 500;
    font-size: 1.5rem;
    
}
footer i{
    font-size: 1.5rem;
    margin-left: 5px;
}
footer p{
    margin: auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: .6rem;
    color:var(--cor3);
    padding-left: 20px;
}   
  
/*configurações para telas menores*/

@media only screen and (max-width:600px) {
    body{
        width: 100%;
    }
    #opcoes{
        display: none;
    }
    #opcoes{
        display: flexbox;
        align-items: flex-start;
        text-align: center;
    }
    #opcoes a{
        text-align: left;
        display: block;
        padding-left: -10px;
    }
    #burguer{
        display:block;
        background-color: var(--cor1);
        color: var(--cor3);
        text-align: left;
        padding-left: 20px;
        padding-top: 10px;
        font-size: 1.5rem;
    }
    #burguer:hover{
        color: antiquewhite;
        text-shadow:1px 1px 4px white;
        cursor: pointer;
    }

    

    header h1{
        font-size: 5rem;
        
    }
    nav a{
        font-size: .8rem;
        margin: 1px;
        padding: 10px;
    }
    #bloco1{
        margin: auto;
        display: contents; 
        text-align: center;  
      }
    #bloco2{
        margin: auto;
        display: contents;
        text-align: center;
    }
    #projetos img{
        width: 90%;
    }
    #l_skils{
        list-style-position: inside;
        columns: 1;
    
    }
    #burguer:hover{
        color: antiquewhite;
        text-shadow:1px 1px 4px white;
        cursor: pointer;
    
}
 
